#boxDate {
  font-size: large;
  color: red;
  padding: 1em;
}

.block-ice-charts .btn {
  /*all: unset;*/
  border-radius: 5px;
  padding: 3px 10px;
  box-shadow: 0px 1px 2px #939da2;
}

.block-ice-charts i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.block-ice-charts .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.block-ice-charts .left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.block-ice-charts .map {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.block-ice-charts #ic-slider {
  width: 100%;
  background-color: #beb9d7;
  border-radius: 1em;
  height: 1em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.block-ice-charts input[type="range"] {
 all: unset;
}

.block-ice-charts .controls {
  margin-top: 1.5em;
  text-align: center;
}

.block-ice-charts #ic-slider::-moz-range-thumb  {
    width: 1em;
    height: 1em;
    border-radius: 50%; 
    border-color: #000;
    border-width: 0.1em;
    cursor: pointer;
}

.block-ice-charts .map:-moz-full-screen {
  height: 100%;
}
.block-ice-charts .map:-webkit-full-screen {
  height: 100%;
}
.block-ice-charts .map:-ms-fullscreen {
  height: 100%;
}
.block-ice-charts .map:fullscreen {
  height: 100%;
}

.block-ice-charts .id-tooltip [id="tooltip"] div{
   background-color: gainsboro;
}

.block-ice-charts .ol-full-screen {
     right: .5em;
     bottom: auto;
     top: .5em;
     left: auto;
}

.block-ice-charts .ol-mouse-position {
   top: 95%;
   left: 2%;
   color: white;
   font-weight: bold;
   text-shadow: 1px 1px 1px black;
}

.block-ice-charts .ol-overlay-container {
  position: unset !important;
}

.block-ice-charts .ol-viewport {
  border: 1px #bbb solid;
}
