.block-ice-charts i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.block-ice-charts .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.block-ice-charts .left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.block-ice-charts .map {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.block-ice-charts #ic-slider {
  width: 100%;
}

.block-ice-charts .controls {
  margin-top: 1.5em;
}

.block-ice-charts #ic-slider::-moz-range-thumb  {
    width: 1em;
    height: 1em;
    border-radius: 50%; 
    border-color: #000;
    border-width: 0.1em;
    cursor: pointer;
}

.block-ice-charts .map:-moz-full-screen {
  height: 100%;
}
.block-ice-charts .map:-webkit-full-screen {
  height: 100%;
}
.block-ice-charts .map:-ms-fullscreen {
  height: 100%;
}
.block-ice-charts .map:fullscreen {
  height: 100%;
}

.block-ice-charts .id-tooltip [id="tooltip"] div{
   background-color: gainsboro;
}

.block-ice-charts .ol-full-screen {
     right: .5em;
     bottom: auto;
     top: .5em;
     left: auto;
}

.block-ice-charts .drop-selection {
   height: 30px !important;
   display: inline !important;
   margin-right: auto;
   margin-left: auto;
}

.block-ice-charts .ol-mouse-position {
     top: 95%;
     left: 2%;
}

.block-ice-charts ul.primary li.active a {
   background-color: gainsboro;
   font-weight: bold;
   border: 1px gainsboro solid;
   border-bottom: unset;
   height: 2em;
}
.block-ice-charts ul.primary li a {
   background-color: white;
   border: 1px gainsboro solid;
   border-bottom: unset;
   height: 2em;
}
.block-ice-charts .ol-mouse-position {
   top: 5%;
   left: 5%;
}
.block-ice-charts .ol-overlay-container {
  position: unset !important;
}
.block-ice-charts #tooltip {
   font-weight: bold;
   padding: 5px;
}
.block-ice-charts .ol-viewport {
  border: 1px #bbb solid;
}
